@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);


/* body{
	font-family: 'josefin sans';
	font-size: 16px;
} */



h1 {
	font-size: 1.7em;
	font-weight: 200;
	text-align: left;
	margin-left: 2em;
	margin-top: 0.8em;
}

.jobs{
	margin-top: 4em;
}

.card {
	height: 4rem;
	width: 3em;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	align-items: center;
	padding: 4em;

}
