.progress-bar-container {
	width: 100%;

	margin: 4em 0;
}

.progress-bar {
	display: flex;
	position: relative;
	justify-content: space-between;	
	align-items: center;
	margin: 0px 150px;
	height: 1.15em;
	background: #e5e5e5;
	z-index: 1;
}

.progress-bar:before {
	content: '';
	position: absolute;
	height: 1.15em;
	background: #3e83d6;
	z-index: -1;
}

.first-stage:before {
	width: 33%;
}

.second-stage:before {
	width: 66%;
}

.third-stage:before {
	width: 100%;
}

.stage-level{
	height: max-content;
}

.stage-circle {
	margin-left: -3px;
	margin-right: -3px;
	height: 45px;
	width: 45px;
	background-color: #43962a;
	border-radius: 50%;
	border-width: 3px;
	border-color: #3e83d6;
}

.stage-name {
	font-size: 20px;
	font-weight: 500;
	position: absolute;
}

.jobs-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.jobs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 40em;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 1em;
	box-shadow: 16px 16px 16px rgba(170, 170, 170, 0.25); 
	border: 2px solid #efefef;
}

.popular-job-container {
	margin: 1.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popular-job-container span {
	font-size: 1.5em;
}

.popular-job-container img{
	width: 12em;
	height: 12em;
	border-radius: 50%;
}

.custom-job-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom-job-container img{
	width: 12em;
	height: 12em;
	border-radius: 50%;
	transform: scale(0.48);
}

.custom-job-container span {
	font-size: 1.5em;
}